.userAuth {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(1, 77, 255, 0.6);
  color: white;
}

.userAuth:hover {
  background-color: rgb(61, 61, 253);
}

.delUser {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: grey;
  position: relative;
  right: 17px;
  top: -13px;
}

.delUser:hover {
  background-color: rgb(255, 0, 0);
  border: rgb(0, 0, 0) solid 2px;
}
